* {
    margin: 0%;
    padding: 0%;
    }
    
    .cabeçalho{
    background-color: rgb(11, 11, 11);
    color: rgb(131, 13, 221);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .cabeçalho_imagem{
    width: 12%;
    }
    
    .cabeçalho_titulo{
    font-size: 50px;
    }
    
    .cabeçalho_lista_item{
    margin: 25px 0px 25px 0px;
    font-size: 16px;
    }
    
    .apresentaçao_trabalho{
    background-image: linear-gradient(rgb(76, 220, 57), #f7f2f1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .titulo_apresentaçao_trabalho{
    font-size: 30px;
    }
    
    .logo-power{.
    width: 5%;
    }
    .btn{padding: 10px 8px;
    width: 50px;
color: #f7f2f1;
background: #209915;
border: 1px solid #555;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
transition: background 1s;}

.btn:hover{
    background: #555;

}

    